.bg_card_top{
  background: $color_ultra_light_blue;
  border-radius: 5px;
  }
  
  .bg_card_top_footer{
    background: $gradient_blue;
    // position: absolute;
    // bottom: 0;
    // right: 0;
    // left: 0;
  }

  .shadow{
    box-shadow: $shadow;
    border-radius: 5px;
  }
  
  .card_top{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  
    @media screen and (max-width: $tablet_1280) {
      grid-template-columns: 1fr;
    }
  }

  .plan_web_avanzado{
    @media screen and (max-width: $tablet_1280) {
      display: grid;
      grid-row: 2/3;
    }
  }
  
  .card_botton{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }
  
  .container_servicio_top {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 10px;
    justify-content: start;
    padding: 10px 20px;
    
    span{
      color: rgba(255, 255, 255, 0);
    }
    
    svg {
      width: 25px;
      text-align: center;
      fill: $color_dark_blue;
    }
    
    p{
      display: grid;
    }
  }
  
  .position{
    position: relative;
  }

  .position_img{
    img{
      position: absolute;
      top: -125px;
      left: 0;
      right: 0;
    }
  }

  .card_content{
    margin: 70px 0 50px 0;
        
    img{
      width: 350px;
      height: 250px;
      display: flex;
      margin: auto;
      object-fit: contain;

      @media screen and (max-width:$mobile_600) {
          width: 280px;
          height: 200px;  
      }
    }
    
    h2{
      text-align: center;
      padding: 10px; 
      color: $color_dark_blue;
      font-weight: 200;
      font-size: 20px;
    }

    h3{
      color: $color_light_blue;
      font-weight: 600;
      font-size: 23px;
      text-align: center;
    
    @media screen and (max-width: $mobile_600) {
      text-align: center;
    }
  }

    hr{
      width: 80%;
      margin: auto;
    }
  }

  .card_content_title{
    h2{
      padding: 130px 10px 10px 10px;

      @media screen and (max-width: $mobile_600) {
        padding: 100px 10px 10px 10px;
      }
    }
  }

  .--show{
    img{
      width: 250px;
      height: 170px;
    }
  }
  
  .card_footer{
    text-align: center;
    padding: 20px;
    line-height: 15px;
    border-radius: 0 0 5px 5px;
    display: grid;
    gap: 10px;
    // position: absolute;
    // width: 100%;
    // bottom: 0;
    // box-sizing: border-box;
  
    p{
      color: $color_dark_blue;
    }
    
    .p2{
      display: grid;
      justify-content: center;
      align-items: center;
      
      p{
        color: white;
        background: $color_dark_blue;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        box-shadow: $shadow;
        transition: .5s ease;
        font-weight: 600; 
        width: 100px; 
        cursor: pointer;
      }

      p:hover{
        background: $color_light_blue;
      }
    }
    
    .p_price{

      p{
        color: white;
        font-size: 25px;
      }
    }
  }