.section_services_icon_icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1.5em;
  background: $color_dark_blue;
  margin-bottom: 50px;

  h2 {
    font-size: 19px;
    color: $color_light_blue;
  }

  p{
    color: white;
  }
  
  @media screen and (max-width: $mobile_500) {
    grid-template-columns: 1fr;
    gap: 26px;
  }
}

.section_services_icon {
  padding: 20px;
  p{
    justify-content: start;
    padding-top: 15px;
  }
}

.section_services_icon_content {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 10px;
  
  svg {
    width: 60px;
    fill: white;
  }
}
