// Tablet
$tablet_1200: 1200px;
$tablet_1114: 1114px;
$tablet_1150: 1150px;
$tablet_1100: 1100px;
$tablet_1067: 1067px;
$tablet_1052: 1052px;
$tablet_1026: 1026px;
$tablet_1000: 1000px;
$tablet_900: 900px;
$tablet_814: 814px;
$tablet_800: 800px;
$tablet_700: 700px;

// Mobile
$mobile_662: 662px;
$mobile_660: 660px;
$mobile_650: 650px;
$mobile_600: 600px;
$mobile_580: 580px;
$mobile_550: 550px;
$mobile_500: 500px;
$mobile_450: 450px;
$mobile_442: 442px;
$mobile_436: 436px;
$mobile_400: 400px;
$mobile_360: 360px;

// Azul
$color_dark_blue: #000066;
$color_light_blue: #06b5ee;
$color_ultra_light_blue: #e6f7fd;
$color_dark_blue_hover: #398be7;
$gradient_blue: linear-gradient(#06b5ee, #0476bf);
$bg_light_blue: #eeedfc;
$color_dark_blue_secundario: #0900c0;
$gradient_blue_secundario: linear-gradient(#0900c0, #9f9ce2);

// Verde
$color_ws_green: #019223;
$color_ws_green_hover: #1a7730;
$color_dark_green: #01870a;
$color_light_green: #6cd773;
$gradient_green: linear-gradient(#01870a, #6cd773);

// Naranja
$color_dark_orage: #f39000;
$color_light_orage: #f9d860;
$color_ultra_light_orage: #fdf3e5; 
$gradient_orage: linear-gradient(#f9d860, #f39000);

// Morado Claro
$color_dark_morado: #2a215a;
$color_light_morado: #a89ce9;
$color_ultra_light_morado: #ece9fd;
$gradient_morado: linear-gradient(#a89ce9, #665C99);

// Morado Oscuro
$color_dark_morado_oscuro: #682f69;
$color_light_morado_oscuro: #ce93cf;
$color_ultra_light_morado_oscuro: #f5e8f5;
$gradient_morado_oscuro: linear-gradient(#ce93cf, #682f69);

// Gris
$color_gray: #5b5b5b;

// Shadow
$shadow: 1px 1px 5px #525252;
$shadow_text: 1px 1px 5px white;